.introduction-description {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 2px solid #232323;
  height: 450px;
  max-height: 95%;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 470px;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}

.introduction-description h3 {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 20px;
}

.introduction-description p {
  color: #d9d9d9;
  font-size: 22px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .introduction-description {
    margin: 0 auto;
    height: 450px;
    width: 400px;
  }

  .introduction-description h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .introduction-description p {
    color: #d9d9d9;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
