.services-options {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.services-item {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  height: 360px;
  width: 260px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #333333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  transition: 0.6s;
}

.services-item:hover {
  background-color: #232323;
  height: 380px;
  width: 280px;
  padding: 10px;
  border: 1px solid #d9d9d9d9;
  & h3,
  h4 {
    font-size: 21.5px;
  }
}

.services-item:hover h3 {
  font-size: 21.5px;
}

.services-item:hover h4 {
  font-size: 21.5px;
}

.img-services {
  height: 200px;
  width: 170px;
  margin: 10px auto;
}

.img-services img {
  height: 100%;
  width: 100%;
  border-radius: 7px 7px 0 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.description-services {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
}

.description-services h3 {
  text-align: center;
  color: #d9d9d9;
  margin-top: 8px;
  font-size: 20px;
}

.description-services h4 {
  color: #d9d9d9;
  font-size: 21px;
}

@media (max-width: 960px) {
  .services-item:hover {
    height: 360px;
    width: 260px;
    border: 1px solid #d9d9d9d9;
  }

  .description-services h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  .services-item h3,
  h4 {
    font-size: 16px;
  }
}

@media (max-width: 885px) {
  .services-options {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .services-item {
    height: 320px;
    width: 240px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #333333;
  }

  .services-item h3,
  h4 {
    font-size: 18px;
  }

  .img-services {
    height: 180px;
    width: 160px;
    margin: 0 auto;
  }

  .services-item:hover {
    height: 320px;
    width: 240px;
    border: 1px solid #d9d9d9d9;
  }

  .services-item:hover h3 {
    font-size: 18px;
  }

  .services-item:hover h4 {
    font-size: 21px;
  }
}
