h1 {
  text-align: center;
  color: #d9d9d9;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.home-page-descriptions-barber-shop {
  display: flex;
  background-color: #232323;
}

.card-description-barber-shop-left {

  width: 50vw;
  padding: 20px;
  & h2 {
    text-align: center;
    color: #d9d9d9;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.card-description-barber-shop-left p {
  font-size: 18px;
  color: #d9d9d9;
  font-weight: 500;
}

.card-description-barber-shop-right p {
  font-size: 18px;
  color: #d9d9d9;
  font-weight: 500;
}

.card-description-barber-shop-right {

  width: 50vw;
  padding: 20px;
  & h2 {
    text-align: center;
    color: #d9d9d9;
    margin-bottom: 20px;
  }
}

.card-description-barber-shop-bottom-right a {
  margin-left: 5px;
}

@media(max-width: 1300px) {
  .description-barber-informations p {
font-size: 17px;
  }
}

@media(max-width: 1120px) {
  .home-page-descriptions-barber-shop {
    max-height: 500px;
    overflow-y: auto;
  }
}

@media(max-width: 768px) {
  .home-page-descriptions-barber-shop {
    max-height: 400px;
    overflow-y: auto;
  }
}
@media (max-width: 576px) {
  .home-page-descriptions-barber-shop {
    max-height: 300px;
    overflow-y: auto;
  }
  .card-description-barber-shop-left h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card-description-barber-shop-left p {
    font-size: 16px;
    font-weight: 400;
  }

  .card-description-barber-shop-right h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card-description-barber-shop-right p {
    font-size: 16px;
    font-weight: 400;
  }
  .description-barber-informations p {
    font-size: 14px;
      }
}
